<!DOCTYPE html>
<html>
  <head>
    <title>RADOSLAV</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<p>RADOSLAV</p> -->
    <img src="http://www.bioenciclopedia.com/wp-content/uploads/2013/10/aguila-calva4-800.jpg"> 
  </body>
</html>
